.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  .title {
    font-size: 28px;
    padding-bottom: 1rem;
    margin-bottom: 25px;
    border-bottom: 2px solid black;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
